.home-header {
  background: url('../images/home_top.jpg') no-repeat top;
  background-size: cover;
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 5px 0;
  }
  &__main-logo {
    display: inline-block;
    position: relative;
    div {
      display: block;
      position: absolute;
      right: 0;
      top: 4px;
      color: rgba(255, 255, 255, 0.82);
      font-family: Roboto;
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &__main-info {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    a {
      display: inline-block;
      margin: 0 25px;
      color: #ffffff;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__main-recall {
    div:first-child {
      margin-bottom: 10px;
    }
    img {
      display: inline-block;
      margin-right: 15px;
    }
    span {
      color: #fefefe;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__main-call {
    display: inline-block;
    float: right;
    color: #ff7200;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    &:hover {
      color: #ff7200;
      transform: scale(1.15);
      text-decoration: none;
    }
  }
  &__what {
    padding: 125px 0 135px;
  }
  &__what-title {
    display: block;
    max-width: 510px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Regaled _ CYR";
    font-size: 59px;
    font-weight: 400;
    line-height: 1.7;
  }
  &__what-btn {
    display: inline-block;
    padding: 22px 38px;
    box-shadow: 0 0 24px rgba(255, 114, 0, 0.22);
    border-radius: 3px;
    border: 1px solid rgba(255, 114, 0, 0.59);
    background-color: rgba(238, 238, 238, 0);
    color: #ff7200;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 59px rgba(255, 114, 0, 0.47);
      border: 1px solid rgba(255, 114, 0, 0.59);
      background-color: rgba(238, 238, 238, 0);
      color: #ff7200;
    }
  }
}

.home-catalog {
  padding: 90px 0 60px;
  &__cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 97px;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    transition: all 0.15s ease-out;
    div {
      color: #ffffff;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
    }
    &:hover {
      box-shadow: 0 17px 16px rgba(67, 67, 67, 0.38);
      text-decoration: none;
      div {
        text-shadow: 0 0 21px rgba(255, 255, 255, 0.7);
        text-decoration: none;
      }
    }
  }
}

.main-title {
  display: block;
  position: relative;
  margin: 0px auto 70px;
  color: #000000;
  font-family: "Regaled _ CYR";
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  &:after {
    display: block;
    content: '';
    width: 152px;
    height: 26px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -76px;
    background: url('../images/title_after.png') no-repeat center;
  }
  &_light {
    color: #ffffff !important;
    &:after {
      background: url('../images/title_after_light.png') no-repeat center !important;
    }
  }
}

.home-works {
  padding: 85px 0;
  background: url('../images/home_bg_2.jpg') no-repeat center;
  background-size: cover;
}

.home-about {
  padding: 90px 0;
  background: url('../images/home_bg_3.png') no-repeat center;
  background-size: cover;
  &__this {
    max-width: 950px;
    margin: 0 auto 150px;
    color: #313131;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    text-align-last: center;
  }
  &__reviews {
    color: #222222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
  }
  &__reviews-cards {
    max-width: 835px;
    margin: 0 auto;
  }
  &__reviews-card {
    color: #222222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    p {
      display: block;
      margin-bottom: 30px;
      text-align: justify;
      text-align-last: center;
    }
    &:focus {
      outline: none;
    }
  }
  &__reviews-card-author {
    display: block;
    margin-bottom: 10px;
    color: #222222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}

.main-feedback {
  padding: 90px 0;
  background: url('../images/home_bg_4.jpg') no-repeat center;
  background-size: cover;
  .main-title {
    margin-bottom: 35px !important;
  }
  p {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    input {
      display: inline-block;
      margin: 0 15px 10px 15px;
      padding: 18px 30px;
      flex: 1 1 200px;
      border: none;
      outline: none;
      border-radius: 3px;
      border: 1px solid #d8d8d8;
      background-color: rgba(238, 238, 238, 0);
      color: #ffffff;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:focus {
        border-color: #ff7200;
      }
    }
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    button {
      display: inline-block;
      margin: 0 15px 10px 15px;
      padding: 20px;
      flex: 1 1 200px;
      border: none;
      outline: none;
      border-radius: 3px;
      border: 1px solid #ff7200;
      background-color: #ff7200;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.15s ease-out;
      &:hover {
        background: transparent;
        color: #ff7200;
      }
    }
  }
}

.home-seo {
  padding: 100px 0 70px 0;
  background: url('../images/home_bg_5.png') no-repeat top left;
  background-size: 100% auto;
  &__content {
    max-width: 830px;
    margin: 0 auto;
    color: #222222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    p {
      margin-bottom: 30px;
      text-align: justify;
      text-align-last: center;
    }
  }
}

.main-footer {
  padding: 15px 0 35px 0;
  background-color: #222222;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 25px 15px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        color: #b4b0b0;
        transition: all 0.15s ease-out;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #716c68;
    a {
      display: inline-block;
      margin: 0 5px;
      color: #ff7200;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.main-nav_active {
  color: #ffffff !important;
}

.page-top-title {
  display: block;
  margin-bottom: 25px;
  color: #fffefe;
  font-family: "Regaled _ CYR";
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.main-content {
  padding: 40px 0 80px 0;
}

.main-sidebar {
  position: relative;
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        padding-bottom: 14px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        color: #000000;
        transition: all 0.15s ease-out;
        &:hover {
          color: #ff7200;
          text-decoration: none;
        }
      }
    }
  }
  &__nav_active {
    color: #ff7200 !important;
  }
}

.main-breadcrumps {
  display: block;
  margin-bottom: 35px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  span {
    display: inline-block;
    margin: 0 10px;
    color: #ff7200;
  }
  a {
    color: #000000;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      color: #ff7200;
      text-decoration: none;
    }
  }
}

.catalog-cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 75px;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    transition: all 0.15s ease-out;
    div {
      color: #ffffff;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
    }
    &:hover {
      box-shadow: 0 17px 16px rgba(67, 67, 67, 0.38);
      text-decoration: none;
      div {
        text-shadow: 0 0 21px rgba(255, 255, 255, 0.7);
        text-decoration: none;
      }
    }
  }
}

.catalog-description {
  display: block;
  margin-top: 50px;
  color: #222222;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.goods-cards__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  box-shadow: 0 5px 16px rgba(67, 67, 67, 0.14);
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
  &:hover {
    box-shadow: 0 17px 16px rgba(67, 67, 67, 0.28);
  }
  &-img {
    display: block;
    margin: 30px auto 20px;
    max-width: 220px;
    object-fit: contain;
    object-position: center;
  }
  &-title {
    display: block;
    max-width: 200px;
    margin: 0 auto 26px;
    overflow: hidden;
    color: #010101;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      color: #ff7200;
      text-decoration: none;
    }
  }
  &-price {
    display: block;
    max-width: 200px;
    margin: 0 auto 30px;
    overflow: hidden;
    color: #ff7200;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  &-order {
    display: block;
    width: 100%;
    padding: 18px;
    border-radius: 0 0 5px 5px;
    background-color: #ff7200;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #ff831e;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.main-pagination {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 30px 0;
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 28px;
      margin: 1px;
      height: 28px;
      border: 1px solid #e1e1e1;
      background-color: rgba(255, 255, 255, 0);
      color: #848484;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover {
        background-color: #e1e1e1;
        color: #848484;
        text-decoration: none;
      }
    }
  }
  &_active {
    background-color: #e1e1e1 !important;
  }
}

.portfolio-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &__card {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 0 20px 20px 0;
    border-radius: 3px;
  }
  &__card-zoom {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.15s ease-out;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0;
    }
  }
}

.stocks-cards {
  width: 100%;
}

.stocks-cards__card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  &-img {
    width: 270px;
    margin-right: 30px;
    img {
      width: 100%;
      height: 195px;
      object-fit: cover;
    }
  }
  &-content {
    flex: 1 1 200px;
  }
  &-title {
    display: block;
    margin-bottom: 25px;
    color: #ff7200;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    a {
      color: #ff7200;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        text-decoration: none;
        color: #222222;
      }
    }
  }
  p {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }
}

.seo-article {
  display: block;
  position: relative;
  color: #222222;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  &__info-block {
    display: block;
    margin: 30px 0;
    padding: 36px 56px;
    box-shadow: 0 17px 16px rgba(67, 67, 67, 0.03);
    border-radius: 5px;
    background-color: #ffffff;
    color: #222222;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }
  p {
    margin-bottom: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 30px 0;
    color: #ff7200;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  blockquote {
    position: relative;
    margin: 30px 0;
    padding: 0 0 0 100px;
    border: none;
    background: transparent;
    color: #000000;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 33px;
      height: 31px;
      background: url('../images/icon_quote.png') no-repeat center;
      content: '';
    }
  }
}

.good {
  position: relative;
  &__info {
    margin-bottom: 50px;
  }
  &__title {
    display: block;
    margin-bottom: 15px;
    color: #ff7200;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
  }
  &__description {
    display: block;
    max-width: 675px;
    color: #484848;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
  }
  &__description-prep {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  &__order {
    display: block;
    max-width: 225px;
  }
  &__order-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #484848;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
  }
  &__order-price {
    display: inline-block;
    color: #484848;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
  }
  &__order-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: #ff7200;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #ff831e;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__about {
    display: block;
    color: #484848;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
  }
  &__about-prep {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
}

.slick-slide img {
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background: #fff;
  object-fit: contain;
  object-position: center;
  border-radius: 4px;
}

.good__for {
  &-card {}
  .slick-slide img {
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    object-fit: contain;
    width: 100%;
    height: 240px;
    border-radius: 6px;
  }
}