.navbar {
  min-height: auto;
}

.navbar-default {
  border: none;
  background-color: rgba(0, 0, 0, 0.57);
}

.navbar-default .navbar-nav>li>a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: #ffffff;
  color: #b4b0b0;
  transition: all 0.15s ease-out;
  &:hover {
    color: #ffffff;
  }
}

.dropdown-menu {
  min-width: 200px;
  margin: 0;
  margin-top: -1px !important;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.65);
}

.dropdown-menu>li>a {
  padding: 8px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.75);
}

.navbar {
  margin-bottom: 25px;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  float: none;
  justify-content: space-between;
  align-items: center;
}

.navbar-default .navbar-nav>li>a {
  padding: 18px 12px;
}

.navbar-nav>li:first-child {
  a {
    padding-left: 0;
  }
}

.navbar-nav>li:last-child {
  a {
    padding-right: 0;
  }
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

ul,
menu,
dir {
  margin: 0;
  padding: 0;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #ff7200;
}

.carousel-control.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  background: transparent;
  transition: all 0.15s ease-out;
  &:hover {
    opacity: 1;
    transform: scale(0.9);
  }
}

.carousel-control.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -150px;
  background: transparent;
  transition: all 0.15s ease-out;
  &:hover {
    opacity: 1;
    transform: scale(0.9);
  }
}

#worksCarousel {
  max-width: 970px;
  margin: 0 auto;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

.carousel-control {
  opacity: 0.7;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #ff7200;
}

.navbar-default {
  .row {
    margin-left: -25px !important;
    margin-right: -25px !important;
  }
}