@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .home-header__main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .home-header__main-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .home-header__main-logo {
    margin-bottom: 10px;
  }
  .home-header__main-recall {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 20px 0;
    align-items: center;
    text-align: center;
  }
  .home-header__main-call {
    float: none;
  }
  .home-header__what {
    padding: 20px;
  }
  .home-header__what-title {
    font-size: 42px;
  }
  .main-title {
    font-size: 42px;
  }
  .home-catalog {
    padding: 20px 0;
  }
  .navbar-nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 12px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ff7200;
  }
  .home-catalog__cards {
    justify-content: space-around;
  }
  .home-catalog__card {
    margin: 10px;
  }
  .home-works {
    padding: 20px 0;
  }
  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img,
  .img-responsive,
  .thumbnail a>img,
  .thumbnail>img {
    height: 400px;
  }
  .carousel-control.right {
    margin: 0;
  }
  .carousel-control.left {
    margin: 0;
  }
  .home-about {
    padding: 20px 0;
  }
  .home-about__this {
    margin-bottom: 40px;
  }
  .main-feedback {
    padding: 20px;
  }
  .main-feedback__form input {
    width: 100%;
  }
  .home-seo {
    padding: 20px 0;
  }
  .main-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    li {
      a {
        padding: 12px 24px;
      }
    }
  }
  .main-content {
    padding: 20px;
  }
  .main-breadcrumps {
    padding: 10px;
    border: 1px solid black;
  }
  .catalog-cards {
    justify-content: space-around;
  }
  .page-top-title {
    font-size: 42px;
  }
  .goods-cards {
    justify-content: space-around;
  }
  .portfolio-cards {
    justify-content: space-around;
  }
  .stocks-cards__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .stocks-cards__card-title {
    margin: 10px 0;
  }
  .seo-article__info-block {
    padding: 20px;
  }
  .seo-article blockquote {
    padding-left: 40px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}