// bower:scss
// endbower
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #f4f4f4 url('../images/home_bg.png') no-repeat top left;
    background-size: 100% auto;
    color: #222222;
}

@font-face {
    font-family: "Regaled _ CYR";
    font-weight: 400;
    src: url('../fonts/RegaledCYR.otf');
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";